<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Veiculos - Consultar</title>
</head>
<body>


    <div class="container">
        <h1>Veiculo - Consultar</h1>

        <div>
            <form method="POST" action="/consultar">
                <div class="form-group">
                    <label for="placa">Placa</label>
                    <input type="text" name="placa" id="placa" th:value="${placa}"/>
                </div>
                <input type="submit" class="btn btn-primary" value="Consultar"/>
            </form>
        </div>

        <div>
            <div class="border" th:if="${lista != null}">
                <div class="row m-1" th:each="veiculo : ${lista}">
                    <a th:href="@{/registro/{id}(id=${veiculo.id})}" th:text="${veiculo.placa}"></a>
        </div>

    </div>

    <a href="/">Voltar</a>

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js" ></script>
    
</body>
</html>